---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - cache.duckdb.org
  resources:
  - duckdbs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cache.duckdb.org
  resources:
  - duckdbs/finalizers
  verbs:
  - update
- apiGroups:
  - cache.duckdb.org
  resources:
  - duckdbs/status
  verbs:
  - get
  - patch
  - update
