apiVersion: v1
kind: ServiceAccount
metadata:
    labels:
        app.kubernetes.io/managed-by: {{ .Release.Service }}
        app.kubernetes.io/name: pondkeeper
    name: pondkeeper-controller-manager
    namespace: {{ .Release.Namespace }}
